* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #030303;
  color: white;
  overflow-x: hidden;
}


.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(to bottom,transparent 40%,rgba(0,0,0,0.95) 70%, #020202),
    url("https://i.imgur.com/9KVO1Ok.jpg");
  background-size: cover;
  background-position: top;
  box-shadow: 0 50px 50px black;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-family: 'Gruppo', cursive;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px black;
}

/* PARALLAX LAYERS */
.layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

/* Background layers with different images and depth */
.layer-1 { background-image: url("https://i.imgur.com/bwEm8WB.png"); z-index: 10; }
.layer-2 { background-image: url("https://i.imgur.com/XxTPjmC.png"); z-index: 20; }
.layer-3 { background-image: url("https://i.imgur.com/F4xnzjU.png"); z-index: 30; }
.layer-4 { background-image: url("https://i.imgur.com/F4xnzjU.png"); z-index: 40; opacity: 0.7; }
.layer-5 { background-image: url("https://i.imgur.com/XxTPjmC.png"); z-index: 50; opacity: 0.5; }


.content {
  position: relative;
  min-height: 250vh;
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.text {
  padding: 4rem 10rem 20rem 10rem;
  font-size: 1.2rem;
  line-height: 1.7;
}


.rocks {
  position: absolute;
  z-index: 1000;
  will-change: transform;
}


.rock-1 { width: 100px; left: 10%; top: 50%; }
.rock-2 { width: 120px; left: 20%; top: 30%; }
.rock-3 { width: 80px; left: 10%; bottom: 20%; }
.rock-4 { width: 130px; bottom: 0; left: 31%; }
.rock-5 { width: 110px; bottom: 0; left: 5%; transform: scaleX(-1); }
.rock-6 { width: 70px; bottom: 30%; left: 20%; }
.rock-7 { width: 120px; bottom: 35%; left: 15%; transform: scaleX(-1); }
.rock-8 { width: 50px; bottom: 25%; left: 25%; transform: scaleX(-1); }
.rock-9 { width: 70px; bottom: 35%; left: 30%; }
.rock-10 { width: 90px; bottom: 10%; left: 50%; }
.rock-11 { width: 60px; bottom: 15%; left: 60%; }
.rock-12 { width: 100px; bottom: 5%; left: 70%; }

@media (max-width: 1200px) {
  h1 { font-size: 2rem; letter-spacing: 0.2rem; text-align: center; }
  .rocks { display: none; }
  .text { padding: 2rem; }
}
